In [48]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score

In [49]:
df=pd.read_csv("Social_Network_Ads.csv")

In [50]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [51]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [52]:
df['Gender']=df['Gender'].map({'Male':0,'Female':1})      #no need of Gender because model work on

In [53]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       0   19            19000          0
1    15810944       0   35            20000          0
2    15668575       1   26            43000          0
3    15603246       1   27            57000          0
4    15804002       0   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       1   46            41000          1
396  15706071       0   51            23000          1
397  15654296       1   50            20000          1
398  15755018       0   36            33000          0
399  15594041       1   49            36000          1

[400 rows x 5 columns]

In [54]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

#Assign x and y , x is inputs and y is target variable

In [55]:
x = df.drop(columns=['Purchased'])
y = df['Purchased']

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Model Building

In [74]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [58]:
y_pred = model.predict(x_test)  # prediction
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0], dtype=int64)

In [59]:
model.score(x_train, y_train)

0.7857142857142857

In [60]:
model.score(x, y)

0.7725

# 2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall on the given dataset

In [61]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[70,  3],
       [28, 19]], dtype=int64)

In [64]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [65]:
print(tn, fp, fn, tp)

70 3 28 19

In [66]:
a=accuracy_score(y_test,y_pred)     #Accuracy
a

0.7416666666666667

In [70]:
e = 1-a     #Error rate
e

0.2583333333333333

In [71]:
precision_score(y_test,y_pred)          #precision

0.8636363636363636

In [72]:
recall_score(y_test,y_pred)           #Recall

0.40425531914893614